.Modal {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid black;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15vw;
  height: 100%;
  z-index: 1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

.navBar {
  display: flex;
  width: 100%;
}


.router {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage {
  width: 100%;
  height: 100%;
}

#root {
  background-color: #fed8b1;
}

.aboutPage {
  width: 100%;
  height: 100%;
  font-size: 25px;
}

.blogPage {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  font-size: 25px;
}

.catPage {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.checkoutPage {
  width: 100%;
  height: 100%;
}

.contactPage {
  width: 100%;
  height: 900px;
  font-size: 25px;
}

@keyframes example {
  0%   {transform:translate(300px, 0px);}
  100%  {transform:translate(0px, 0px);}
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms linear;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  animation-name: example;
  animation-duration: 1s;

}

.ReactModal__Overlay--before-close{
  opacity: 0;

}

.overlay {
  position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    background-color: rgba(255, 255, 255, 0);
}

